body {
	background-color: white;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
#heading {
	position: fixed;
	background-color: yellow;
	height: 80px;
}

#heading img {
	position: absolute;
	top: 10px;
	left: 15px;
	height: 60px;
	width: 40px;
}

#heading i b {
	position: absolute;
	left: 60px;
	top: 15px;
	color: black;
	font-size: 20px;
}

#form {
	position: fixed;
	bottom: 10px;
	height: 40px;
	left:15px;
	float: right;
	backgorund-color: yellow;
	color: black;
}

#chatBox {
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-width: none;
	position: absolute;
	top: 80px;
	bottom: 10px;
	left: 2px;
	right: 2px;
	height: 410px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
}
#History {
	overflow:scroll:
}


#chatBox input[type="button"] {
	height:30px;
	width:auto;
	color:black;
	padding-right:10px;
}
#chatBox p{
		border:#d4c8c5;
		background-color:#d4c8c5;
		border-radius:25px;
		padding-left:10px;
		padding-right:10px;
		width:75%;
}
#chatBox div {
	padding-bottom:15px;
}

