*
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
body
{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/default-pizza.jpg");
    overflow-x:hidden;
    height:100vh;
   background-size: cover;
}
.nav
{
   display:block;
    padding:60px 120px;
}
.logo img
{
    border-radius:50%;
    height:100px;
    width:100px;
    padding-left:50px;
}
.btn
{
    background-color:yellow;
    display:flex;
 padding:10px;
    float:right;
    margin-right:10px;
    font-size:10px;
    cursor:pointer;
    border:none;
   color:black;
   
}
.btn:hover
{
    background-color:red;
}
.links ul
{
    display:inline;
    margin: 70px;
}
.links ul li
{
    list-style: none;
    padding:8px 25px;
    display:inline-block;
    color:white;
    font-size:10px;
}
.links ul li:hover
{
    border-bottom: 1px solid white;
}
.banner
{
    font-size: 30px;
    color:white;
    margin:40px 130px;
    
}
.banner span
{
    color:yellow;
}
.ex
{
    background-color: yellow;
    padding:10px;
    border:none;
    cursor:pointer;
    
}
.ex:hover{
    background-color: red;
}
.vertical
{
   height:100%;
    background:black;
    top:-30px;
    left:0px;
    position:absolute;
    
}
.search
{
    height:60%;
    width:60px;
}
.search .fa
{

    margin:45px 23px;
    display:block;
    color:white;
    cursor:pointer;
    font-family:40px;
}
.icons
{
    height:35%;
    width:60px;
    background: yellow;
    text-align: center;
    padding-top: 27%;
  padding-left: 27%
        bottom:0;
    position: absolute;
    bottom : -30px;
    
}
.icons.fa
{
    margin:15px 23px;
    display: block;
    padding: 10px;
    border-radius: 50%;
    border:2px solid black;
    cursor:pointer;
    text-align: center;
}

#bot input{
	position:absolute;
	bottom:50px;
	right:100px;

}
.ChatBot {
	position:absolute;
	bottom:150px;
	right:80px;
	height:550px;
	width:380px;
	display:none;
	border-radius:30px;
}