*
{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
body
{

    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../images/1280px-Supreme_pizza.jpg");
    overflow-x:hidden;
    height:100vh;
   background-size: cover;

}
.login
{
 
    background:transparent;
   
    position: absolute;
    top:10%;
    left:40%;
    transform:translate(-50% -50%);
    height:420px;
    width:320px;
    box-sizing: border-box;
    padding:70px 30px;
}

p
{
    padding:8px;
    color:yellow;
}
h1
{
    padding:8px;
    color:yellow;
}
.login input[type="text"],input[type="password"]
{
    border:none;
    background:transparent;
    border-bottom: 2px solid yellow;
    width:150%;
    display:flex;
    color:white;
   
    outline: none;
   
}
.login input[type="password"]
{
    margin-bottom: 20px;
}
.btn
{
    text-align: center;
    border-radius:22px;
    width:100%;
    padding:10px;
    outline:yellow;
    border:none;
    height:40px;
    font-weight: bold;
    padding:8px;
    background:yellow;
}
.btn:hover
{
    cursor:pointer;
    background:red;
    margin-bottom:8px;
}
.login a
{
    padding;8px;

    color:yellow;
    text-decoration:none;
    
    
}
.login a:hover
{
    background-color: red;
    cursor:pointer;
}